/* @import 'tailwindcss'; */
@layer theme, base, components, primereact, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@import 'primereact/resources/themes/saga-purple/theme.css' layer(primereact);
